* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    bottom: 16px;
}

.nav ul {
    display: inline-block;
    background-color: black;
    width: 100%;
    text-align: center;
}

.nav li {
    display: inline-block;
    text-align: center;
    /* margin: 0 10px; */
    padding: 15px 15px;
    margin: 0 0;
    background-color: black;
}

.nav a {
    color: white;
}

.nav li:hover {
    background-color: orangered;
}

body {
    padding: 0;
    margin: 0;
}

.main-title {
    display: block;
    
    margin: 0 auto;
    position: relative;
    top: -290px; left: 0; bottom: 0; right: 0;
    font-size: 35px;
    color: white;
    text-align: center;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0.5px;
    min-width: 445px;
}

#mv-fwd {
    opacity: 0;

    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    top: 2%;
    border-radius: 10%;

    padding: 80px 10px 0 10px;
    position: relative;
    top:-85%;
    border-radius: 10%;
    
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 39%, rgba(0,0,0,0) 100%); 

    transition: .5s ease;

    text-align: center;
    width: 300px;
    height: 300px;
    color: orangered;
}

.main-img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    top: 2%;
    border-radius: 10%;
    box-shadow: 1.5px 1.5px black;
}

#mv-fwd:hover {
    opacity: 1;
}

.title{
    background-image: url('./beautiful-campus-oregon-state-university.jpg');
    height: 365px;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

body {
    background: white;
}

h2 {
    color: black;
}

.info h2{
    text-align: center;
}

hr{
    height: 2px;
    border: none;
    background-color: black;
}

.input-separator {
    height: 1.2px;
    border: black;
    background-color: black;
}

.input-title{
    display: block;
    font-size: 20px;
}

.input-date{
    font-weight: normal;
    text-align: right;
    width: auto;
    float: right;
    padding: 0 1px;
}

.input-content{
    color: black;
}

.input-title{
    color: black;
    margin: 10px 0;
}

.info{
    background: rgba(211,211,211,0.6);
    /* border-radius: 25px; */
    border-color: rgba(211,211,211,0.6);
    padding: 10px;
    border-style: solid;
    margin: 0 10px 10px;
}

.input {
    margin: 10px 0;
}